.App {
  text-align: center;
}

.active {
  color: lightyellow;
  text-decoration: none;
}

.courseLink {
  font-size: 25px;
  text-decoration: none;
}

.courseLink:hover {
  text-decoration: underline;
}

a {
  color: white;
  font-size: 35px;
}

a:hover {
  text-decoration: none;
}

nav {
  background-color: darkslategray;
  padding: 5px;
}

nav a {
  margin: 15px;
}

h1 {
  font-size: 90px;
  margin-top: 20px;
}

button {
  padding: 15px;
  font-size: 30px;
  border-radius: 5px;
  border: 0;
  margin: 20px;
  cursor: pointer;
}

button:hover {
  background-color: green;
}

button:active {
  background-color: greenyellow;
}

.valuteBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  background-color: darkslategray;

  border: 5px solid black;
  border-radius: 10px;
}

.valuteName {
  background-color: rgb(83, 106, 42);
  border-right: 5px solid black;
  border-radius: 2px;
  padding: 10px;
}

p div {
  background-color: rgb(83, 106, 42);
  display: inline;
  padding: 10px;

  border-left: 5px solid black;
  border-radius: 2px;
}

.currency {
  margin: 0 auto;
  max-width: 800px;
}
